.vscode/**
.vscode-test/**
test/**
docs/**
third_party/**
src/wasm/**/*.cpp
src/wasm/**/*.hpp
src/wasm/CMakeLists.txt
src/wasm/build/CMakeFiles/**
src/wasm/build/CMakeCache.txt
src/wasm/build/Makefile
src/wasm/build/cmake_install.cmake
.gitignore
.gitmodules
.yarnrc
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
